{% extends 'index.html' %}

{% block title %}
    我的微博
{% endblock %}

{% block top %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="content_middle">
        <form action="">
            <label for="">
                <textarea name="sentence" cols="90" rows="8"></textarea>
            </label>
            <label for="">
                <input type="submit" value="发表评论">
            </label>
        </form>
        <ul>

        </ul>
    </div>
    <div class="content_side">
222222222222222222
    </div>

{% endblock %}
{% block bottom %}
    {{ super() }}
{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/my_blog.css">
{% endblock %}
{% block js %}
    {{ super() }}
{% endblock %}