{% extends 'index.html' %}

{% block title %}
    我的微博
{% endblock %}

{% block top %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="content_middle">
        <form action="{{ url_for("blog_bp.pub_comment") }}" method="post">
            <label for="">
                <textarea name="sentence" cols="90" rows="8"></textarea>
            </label>
            <label for="">
                <input type="submit" value="发表评论">
            </label>
        </form>
        <ul>
            {% for i in blogs %}
                <li>{{ i.publication_date }}{{ i.sentence }}</li><br>
                <p class="operation">
                    <a>点赞</a>
                    <a>修改</a>
                    <a>删除</a>
                    <a>评论</a>
                </p>
                <hr>
            {% endfor %}
        </ul>
    </div>
    <div class="content_side">
222222222222222222
    </div>

{% endblock %}
{% block bottom %}
    {{ super() }}
{% endblock %}
{% block css %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/my_blog.css">
{% endblock %}
{% block js %}
    {{ super() }}
{% endblock %}